section {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.733);
  padding: 0px 20px;
  border-radius: 20px;
}

section article {
  margin: 20px 0;
  background-color: #eafbff9a;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

article h1{
  font-size: 2rem;
}

article .articleContent {
  display: none;
}

article.active .articleContent {
  display: block;
  margin-top: 10px;
}

article .toggleArticle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

article.active .icon-remove {
  display: inline;
}

article p {
  font-size: 20px;
}

article .icon-remove {
  display: none;
}

article.active .icon-chevron-down {
  display: none;
}

article .icon-chevron-down {
  display: inline;
}

.articleContent {
  text-align: center;
}

@media (max-width: 800px) {
  section {
    width: 95%;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 10px;
    border-radius: 20px;
  }

  section article {
    margin: 10px 0;
    background-color: #eafbff9a;
    padding: 10px;
    border-radius: 20px;
    position: relative;
  }

  article h1{
    margin-right: 40px;
    font-size: 2rem;
  }
  
  article .toggleArticle {
    top: 10px;
    right: 10px;
    font-size: 30px;
  }
}